extends  ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        include ../../partials/list-button-user.pug
        
        .row 
            .col-12 
                +box-head(title)
        
        .row 
            .col-12 
                .chat-rooms
                    if rooms && rooms.length > 0
                        each room in rooms
                            .room-item.border.rounded.p-3.mb-3
                                .d-flex.align-items-center
                                    .room-avatar.me-3
                                        if room.friend && room.friend.avatar
                                            img(src=room.friend.avatar, alt=room.friend.fullName, style="width:50px;height:50px;object-fit:cover;" class="rounded-circle")
                                        else
                                            .default-avatar.rounded-circle.d-flex.align-items-center.justify-content-center(style="width:50px;height:50px;background-color:#6c757d;color:white;")
                                                i.fa-solid.fa-user
                                    .room-info.flex-grow-1
                                        .room-title.fw-bold
                                            if room.friend
                                                | #{room.friend.fullName}
                                            else 
                                                | Người dùng không xác định
                                        .room-subtitle.text-muted.small
                                            | Trò chuyện riêng
                                    .room-actions
                                        a.btn.btn-primary.btn-sm(href=`/chat/${room._id}`)
                                            i.fa-solid.fa-comments.me-1
                                            | Trò chuyện
                    else 
                        .text-center.py-5
                            i.fa-solid.fa-comments.fa-3x.text-muted.mb-3
                            h5.text-muted Chưa có cuộc trò chuyện nào
                            p.text-muted Hãy kết bạn để bắt đầu trò chuyện!
                            a.btn.btn-primary(href="/chat/not-friend")
                                i.fa-solid.fa-user-plus.me-1
                                | Tìm bạn bè

block script
    script(type="module", src="/js/users.js")